<h5 class="footer">
<!-- <span> &copy; {{ currentYear }} - {{ orgDetails?.name }}</span> -->
<!--<span class="pl-3">
     <a href="{{ privacyPolicyLink }}" target="_blank" title="Privacy Policy"> Privacy Policy </a> -->
    <!-- <span>© 2020 Copyright:</span>
    <a class="text-white" href="https://ampliforce.com/">https://ampliforce.com/</a>
</span> -->
<div class="text-center">
    © 2022 Copyright:
    <a class="text-white" href="https://ampliforce.com/">https://ampliforce.com/</a>
  </div>
</h5>   