/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-brands.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-regular.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fa-solid.css';
@import '../node_modules/@fortawesome/fontawesome-free-webfonts/css/fontawesome.css';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/lobibox/css/lobibox.css";

body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #2541b2 !important;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
